/* -------- Configurazioni generali --------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}

html {
    font-family: "DM Serif Text", sans-serif;
}

/*-------- Configurazioni specifiche --------*/

/* Configurazione HEADER */
.Header-Tab {
    padding: 20px;
}

.container-Header {
    display: flex;
    justify-content: center;
}

.Title {
    font-size: 50px;
    font-weight: 600;
    color: blueviolet;
}


/* Configurazione MAIN */
.SmallDescritpion>p {
    text-align: center;
}

/* Container di tutte le card */
.Cards-Container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
}

/* Spazio per singola Card */
.SingleCard-Space {
    width: calc(100% / 3);
    min-width: 320px;
    padding: 0 10px;
    flex-shrink: 0;
}

/* Configurazione card */
.Card {
    background-color: rgb(10, 10, 70);
    color: white;
    display: flex;
    align-items: center;
}

.Card>img {
    width: 100px;
    height: 100px;
}

.Card a {
    color: rgb(95, 160, 220);
}

.Contact-SigleMember {
    padding-left: 5px;
    flex-grow: 1;
}

/*-------- UTILITY --------*/



/*-------- DEBUG --------*/
.Debug .Cards-Container {
    border: 2px solid black;
}

.Debug .SingleCard-Space {
    border: 1px dotted red;
}

.Debug .Card {
    border: 1px solid blue;
}