/* -------- Configurazioni generali --------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}

html {
    font-family: "DM Serif Text", sans-serif;
}

/*-------- Configurazioni specifiche --------*/

/* Configurazione Header */
.Header-Tab {
    padding: 20px;
}

.container-Header {
    display: flex;
    justify-content: center;
}

.Title {
    font-size: 50px;
    font-weight: 600;
    color: blueviolet;
}


/* Configurazione Main */
.SmallDescritpion>p {
    text-align: center;
}

/*-------- UTILITY --------*/



/*-------- DEBUG --------*/
.Debug {
    border: 1px solid black;
}